* {
  font-family: 'Bungee', cursive;
  text-align: center;
}

.welcome {
  font-size: 1.5vw;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 10px 0;
  color: #f2f2ff;
  background: url(img/bground.jpg) no-repeat bottom center scroll;
  background-position: 30% 45%;
  background-size: cover;
}

h1 {
  font-size: 1.5em;
}

.home-btn {
  color: #FE113F;
  position: fixed;
  top: 0;
  right: 10px;
}

.instructions-btn {
  color: #FE113F;
  position: fixed;
  top: 60px;
  right: 10px;
}

.start {
  border: 1px solid #FE113F;
  border-radius: 40%;
}

a {
  text-decoration: none;
  color: #f2f2ff;
  padding: 10px;
}

a:hover {
  color: #FE113F;
}

.choice {
  margin-top: 500px;
  margin-bottom: 500px;
}

.instructions {
  color: #f2f2ff;
  background-color: #09112D;
  padding: 10px;
  border-radius: 5px;
  padding: 20px 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 500px;
}

li {
  text-align: left;
}

.result {
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  margin: 10px 50px;
}

.play-again {
  margin-bottom: 100px;
}

.final-points-0 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #FE113F;
  background-color: #09112D;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.final-points-1-2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #00ffff;
  background-color: #09112D;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.final-points-3 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #80ff00;
  background-color: #09112D;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.correct-answer {
  color: green;
  font-weight: bold;
}

.wrong-answer {
  color: gray;
}

.answers-theme-1 {
  display: none;
}

.answers-theme-2 {
  display: none;
}

.fa-check {
  color: green;
}